@import "reset.css";
@import "grid.css";
@import "font-awesome.css";
@import "superfish.css";


html {
	width: 100%;
}

a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
	-webkit-text-size-adjust: none;
}

body {
	position: relative;
	min-width: 960px;
    background-color: white/*rgb(254, 246, 236)*/;
    color: #838181;
    font: 14px/20px 'Open Sans', sans-serif;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

strong {
	font-weight: 700;
}

address {
	font-style: normal;
}

p {
	margin-bottom: 10px;
}

input {
	border-radius: 0 !important;
	outline: none !important;
}


img {
	max-width: 100%;
}



/****Heads****/


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
	color: #d81e06;
}
/*
h2 {
     font-size: 18px;
     line-height: 24px;
     padding-top: 35px;
     margin-bottom: 18px;
 }*/
h2 {
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
    margin-bottom: 15px;
}

h2 a:hover {
    color: #626161;
}

.page1 h2 {
    padding: 10px;
    margin-bottom: 18px;
    border-bottom: 1px solid #f5f5f5;
}

h3 {
    padding-top: 51px;
    font-size: 16px;
    line-height: 20px;
    color: #626161;
    margin-bottom: 18px;
}


/****Lists****/


ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list .title {
    font-size: 16px;
    margin-bottom: 2px;
}

ul.list {
    padding-top: 3px;
    padding-left: 10px;
}


ul.list time {
    padding-bottom: 10px;
    padding-top: 5px;
    line-height: 18px;
    margin-top: 2px;
    text-align: center;
    margin-right: 20px;
    width: 60px;
    display: block;
    color: #fff;
    font-size: 16px;
    float: left;
    background-color: #d81e06;
}

ul.list time span {
    display: block;
    border-top: 1px solid #c4e7d7;
    margin: 7px 2px 0;
}

ul.list li {
    overflow: hidden;
    line-height: 18px;
}

ul.list li+li {
    margin-top: 14px;
}

ul.list1 {
    margin-top: -2px;
}

ul.list1 li {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    padding-left: 45px;
}

ul.list1 li+li {
    margin-top: 17px;
}

ul.list1 li+li+li {
    margin-top: 20px;
}

ul.list1 li+li+li+li {
    margin-top: 18px;
}

ul.list1 li:after {
    left: 0;
    top: 3px;
    content: '';
    font-family: 'FontAwesome';
    position: absolute;
    display: block;
    color: #fff;
    width: 33px;
    text-align: center;
    height: 32px;
    background-color: #d81e06;
    line-height: 30px;
}

ul.list2 li {
    padding-bottom: 2px;
    line-height: 18px;
    margin-top: -3px;
    padding-left: 33px;
    background: url(../images/marker.png) 0 4px no-repeat;
    font-size: 16px;
}

ul.list2 li:first-child+li {
    padding-bottom: 3px;
}

ul.list2 li +li {
    margin-top: 5px;
}

/****Links****/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #d81e06;
}

a.btn {
    margin-top: 25px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    padding: 4px 17px 5px;
    background-color: #d81e06;
}

a.btn:hover {
    background-color: #E14F42;
}

/****classes****/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}

.pad1 {
}


.img_inner {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 12px;
	margin-top: 5px;
}


.fleft {
	float: left;
	width: 280px;
	margin-right: 0px;
	margin-bottom: 0px;
    margin-top: -20px;
	margin:10px;
}
/*
.fleft {
float: left;
width: auto !important;
margin-right: 20px;
margin-bottom: 0px;
    margin-top: 1px;
}
*/


.oh {
	overflow: hidden;
}
.fright {
	float: right !important;
}
.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.nowrap {
    white-space: nowrap;
}
/*header*/

header {
    background-image: url("../images/top.jpg");
    background-position:center center;
    background-repeat: no-repeat;
	display: block;
    /*padding: 32px 0 17px;*/
    border-bottom: 2px solid #d81e06;
    box-shadow: 0 5px 3px #f7f7f7;
}


header h1 {
	position: relative;
	text-align: center;
    float: left;
}


header h1 a {
	display: inline-block;
	overflow: hidden;
	width: 220px;
    height: 116px;
	font-size: 0;
	line-height: 0;
	
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;
}

a.donate {
    margin-bottom: 21px;
    margin-top: 12px;
    float: right;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    background-color: #e14f42;
    padding: 4px 26px 5px 25px;
}

a.donate:hover {
    background-color:  #4f4d4d;
}

.rel1 {
    position: relative;
    top: -3px;
}

.hor {
    margin-bottom: 1px;
    padding-top: 30px;
    /*border-bottom: 2px solid #d81e06;*/
}
.b-box{
   /* border-top: 2px solid #d81e06;*/
}
/**Content**/

.content {
    padding:20px 0px 50px 0px;
    width:1080px;
    margin:0 auto;
    overflow:hidden;
}
.content_L{
    padding:10px;
    width: 778px;
    float:left;
    border: 1px solid #d9d9d9;
}
.content_R{
    float:right;
    padding-left:12px;
    padding-bottom:10px;
    width:250px;
    border: 1px solid #d9d9d9;
}
.content_R li{
    padding:5px 0px;
    font-size:16px;
}
/*.content_R li:last-child{
    float:right;
    margin-right:15px;
}*/
.content_R h2{
    font-size:18px;
    line-height:24px;
    padding-top:10px;
    padding-bottom:15px;
    border-bottom: 1px dashed #eee;
}
.content_R h5{
    display:inline;
    margin-right:8px;
    font-size:14px;
}

.page1 .content {
    /*padding-bottom: 84px;*/
}
.extra_wrapper.notice{
    padding-left: 20px;
}
.extra_wrapper.notice,.extra_wrapper.notice li, .extra_wrapper.notice ul{
    list-style: square!important;
    overflow: visible!important;
 }
.extra_wrapper.notice li{
    line-height: 24px;
}
.bq1 {
    background-color: rgb(254, 246, 236);
    margin-top: 57px;
    padding-bottom: 26px;
}

.bq1 .title{
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    background-color: #d81e06;
    text-align: center;
    padding: 19px 0;
}

.bq1  p {
    margin-bottom: 11px;
    background: url(../images/quotes.png) 19px 30px no-repeat;
    padding: 37px 20px 0 38px;
    font-style: italic;
}

.bq1 .col2 {
    text-align: right;
    padding: 0 20px;
    font-size: 16px;
}

.bottom_block{
    position: relative;
    padding-bottom: 30px;
    border-top: 2px solid #d81e06;
    margin-top: 35px;
    background: url(../images/boot.jpg) no-repeat;
    background-position: center center;
    width: 100%;
}
.bottom_block_1{
    position: relative;
    padding-bottom: 30px;
    border-top: 2px solid #d81e06;
  /*  margin-top: 35px;*/
    background: url(../images/boot.jpg) no-repeat;
    background-position: center center;
    width: 100%;
}

.bottom_block:after {
     width: 1px;
     background-color: #ebecec;
     content: '';
     display:  block;
     left: 50%;
     margin-left: -2px;
     top: 0;
     bottom: 0;
     position: absolute;
 }
.bottom_block_1:after {
    width: 1px;
    background-color: #ebecec;
    content: '';
    display:  block;
    left: 50%;
    margin-left: -2px;
    top: 0;
    bottom: 0;
    position: absolute;
}

.text1 {
    font-style: italic;
    color: #626161;
    margin-bottom: 13px;

}

.socials {
    padding-top: 25px;
    overflow: hidden;
}

.socials a {
    display: block;
    background-color: #d81e06;
    color: #fff;
    float: left;
    font-size: 24px;
    position: relative;
    width: 38px;
    text-align: center;
    height: 37px;
}

.socials a .fa {
    position: relative;
    z-index: 10;
    line-height: 37px;
}

.socials a:hover {
    background-color: #fff;
    color: #d81e06;
}

.socials a:hover:after {
    background-color: #d81e06 !important;
}

.socials a+a {
    margin-left: 4px;
}


.socials a:first-child+a+a:hover {
    color: #fff;
}

.socials a:first-child+a+a {
    color: #d81e06;
    font-size: 27px;
    line-height: 36px;
}


.socials a:first-child+a+a:after {
    width: 17px;
    height: 19px;
    z-index: 5;
    background-color: #fff;
    left: 11px;
    top: 9px;
    content: '';
    position: absolute;
}

.socials a+a+a+a+a {
    line-height: 38px;
    font-size: 25px;
}

.cl1 {
    height: 32px;
}

.cl2 {
    height: 31px;
}

ul.list.l1 {
    padding-top: 0;
    margin-top: -2px;
}

ul.list.l1 li {
    line-height: 20px;
}

ul.list.l1 li +li {
    margin-top: 30px;
}

ul.list.l1 time {
    margin-top: 4px;
}

.hor.hr1 {
    padding-top: 35px;
    margin-bottom: 0;
}

.block1 img {
    width: 100%;
    padding: 8px;
    margin-top: 1px;
    margin-bottom: 19px;
    background-color: rgb(245, 245, 245);
}

.bq2 p {
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 14px;
    background: url(../images/quotes.png) 0 1px no-repeat;
    font-style: italic;
}

.bq2+.bq2 {
    margin-top: 46px;
}

.bq2 .bq_bot {
    color: #626161;
}

.bq2 .bq_bot a {
    font-weight: 300;
}

.ver {
    position: relative;
}

.ver:after,
.ver:before {
    width: 1px;
    right: 30px;
    content: '';
    background-color: #ccc;
    display: block;
    position: absolute;
    bottom: 26px;
    top: 119px;
}

.ver:before {
    right: auto;
    left: 30px;
}

.video {
    margin-bottom: 20px;
    padding-top: 1px;
    width: 510px;
    display: block;
}

.video iframe  {
    height: 297px;
    width: 100%;
}

.block2+.block2 {
    margin-top: -8px;
}

a.gal {
    position: relative;
    top: 1px;
    display: block;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    background: url(../images/magnify.png) center center no-repeat #E14F42;
}

a.gal img {
    width: 100%;
    box-shadow: 0 0 0 #fff;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a.gal:hover img {
    opacity: 0.2;
}

.gallery  {
    overflow: hidden;
    padding-top: 26px;
}

.gallery a.btn {
    margin-top: 19px;
}

.gallery  h2 {
    padding-top: 62px;
}

/**Map**/

.col1 {
    color: #838181;
}

.col1 a:hover, a.col1:hover {
    color: #626161;
}

.col2 {
    color: #626161;
}

.map {
    overflow: hidden;
    position: relative;
    padding-top: 1px;
}
 
.map+h2 {
    padding-top: 70px;
    margin-bottom: 10px;
}

.map figure {
    position: relative;
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.map figure iframe {
	width: 100%;
	height: 312px;
	max-width: 100%;
}
.map address {
    position: relative;
    padding-left: 35px;
	display: block;
}

.m_phone {
    position: relative;
    padding-left: 35px;
}

.map h2 {
    margin-bottom: 9px;
    padding-top: 14px;
}

.map .fa {
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    color: #4f4d4d;
    font-size: 14px;
    line-height: 20px;
}

.map a {
    display: inline-block;
    padding-left: 35px;
    position: relative;
}

/**Footer**/

footer {
	display: block;
    text-align: left;
    padding: 30px 0 57px;
    font-size: 12px;
    color: #3d454b;
    line-height: 14px;
}


#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 500px;
    overflow: hidden;
    width: 50px;
    height: 52px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}



h5.author_name{

    text-align: right;
    color: #838181;
}

.title_cy{
    text-indent: 2em;
}
/*友情链接*/
.main_ty{ width:1080px; margin:0 auto; overflow:hidden;}
.link{ margin-top:15px;}
.link li{ width:184px; height:46px; overflow:hidden; padding:3px; border:1px solid #dddddd; margin-left:10px; float:left;}



/*留言板*/
.comment_list{

    width:620px;
    float: left;
}
.comment_form{
    width:400px;
    float: left;
    margin-left: 20px;
    margin-top:10px;
}
.comment_form div{
    margin-bottom: 10px;
}
.comment_form input,.comment_form textarea{
    width:400px;

}

